.input-container-flashcard {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-input-flashcard {
  width: auto;
  max-width: 100%;
  padding-right: 5rem;
  font-size: 4ch;
  border: 0;
  background-color: transparent;
  color: var(--paragraph);
}

.custom-input-flashcard:focus {
  outline: 0;
  color: var(--paragraph);
}

.persistent-placeholder {
  font-weight: 400;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.1);
  font-size: 4ch;
  white-space: nowrap;
  overflow: hidden;
}

.solid-border-flashcard {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: repeating-linear-gradient(
      90deg,
      var(--headline),
      var(--headline) 1ch
    )
    0 100%/100% 5px no-repeat;
}

@media (max-width: 480px) {
  .custom-input-flashcard {
    font-weight: 400;
    font-size: 2ch;
  }
  .persistent-placeholder {
    font-weight: 400;
    font-size: 2ch;
  }
  .solid-border-flashcard {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .custom-input-flashcard {
    font-weight: 400;
    font-size: 2.5ch;
  }
  .persistent-placeholder {
    font-weight: 400;
    font-size: 2.5ch;
  }
  .solid-border-flashcard {
    height: 4px;
  }
}
