.container-reports {
    position: relative;
    height: 100%;
    width: 70rem;
    background-color: var(--secondBackground);
    padding: 2rem 2rem 2rem 2rem;
    flex: 0 0 40rem;
  }

  .table-reports{
    overflow-y: auto;
    max-height: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: var(--headline);
  }
  th, td {
    border-bottom: 2px solid var(--border);;
    padding: 8px;
    text-align: left;
  }
  tr:hover{
    cursor: pointer;
    background-color: var(--background);
  }
  th {
    background-color: var(--secondBackground);
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .ReportDetails {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: var(--secondBackground);
    color: var(--headline);
}

.ReportHeader, .TranslationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.ReportHeader {
    border-bottom: 2px solid var(--paragraph);
    margin-bottom: 20px;
}

.TranslationItem {
  border-bottom: 2px solid var(--paragraph);
}

.TranslationItem:last-child {
    border-bottom: none;
}

.TranslationItem input, .TranslationItem textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 2px solid var(--border);
    border-radius: 4px;
}

.ReportDetails h2 {
    margin-top: 0;
}

input[type="text"], textarea {
    width: calc(100% - 10px);
    padding: 10px;
    margin-top: 5px;
}