.cutebox {
  position: relative;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cutebox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.topBox {
  position: absolute;
  top: 0;
}

.bottomBox {
  position: absolute;
  bottom: 0;
  z-index: 12;
}
.card {
  position: absolute;
  top: 0;
  z-index: 11;
}
.face {
  position: absolute;
  height: 34%;
  width: 50%;
  bottom: 10%;
  right: 13%;
  z-index: 13;
}

.lefteye {
  position: absolute;
  left: 3%;
  top: 1%;
  width: 40%;
  height: 55%;
}
.iris_left {
  position: absolute;
  height: 55%;
  left: 30%;
  top: 40%;
}
.pupil_left {
  position: absolute;
  left: 53%;
  top: 47%;
  height: 16%;
  width: 16%;
}
.rightEye {
  position: absolute;
  right: 10%;
  top: 1%;
  width: 43%;
  height: 55%;
}
.iris_right {
  position: absolute;
  right: 13%;
  top: 29%;
  height: 55%;
}
.pupil_right {
  position: absolute;
  right: 22%;
  top: 39%;
  height: 15%;
}
.smile {
  position: absolute;
  left: 34%;
  top: 47%;
  width: 30%;
}

@media (max-width: 480px) {
  .cutebox {
    height: 5rem;
    width: 5rem;
  }
}
