.progress-container {
  position: relative;
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress-text {
  display: flex;
  justify-content: end;
  margin-left: 1rem;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--headline);
  font-size: 25px;
}

.progress-wrapper {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 0.5rem;
}

.progress-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--progress-gradient);
  filter: blur(15px);
  border-radius: 20px;
  z-index: 0;
}

.progress-bar {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  background: var(--progress-gradient);
}

.progress-bar-stylization {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 90%;
  top: 5%;
  left: 6px;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  padding: 0.25rem;
  gap: 0.25rem;
}
.short-belt {
  background-color: #fff;
  width: 3%;
  height: 4px;
  border-radius: 2px;
}
.long-belt {
  background-color: #fff;
  width: 80%;
  height: 4px;
  border-radius: 2px;
}

.progress-container-vertical {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.progress-text-vertical {
  display: flex;
  justify-content: end;
  margin-left: 0.5rem;
  margin-bottom: 3rem;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--headline);
  font-size: 25px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.progress-container-vertical {
  position: relative;
  width: 30px;
  height: 100%;
  margin-top: 0.5rem;
}

.progress-wrapper-vertical::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--progress-gradient);
  filter: blur(15px);
  border-radius: 20px;
  z-index: 0;
}

.progress-bar-vertical {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 30px;
  border-radius: 20px;
  background: var(--progress-gradient);
}

.progress-bar-stylization-vertical {
  position: absolute;
  z-index: 999;
  height: 95%;
  width: 100%;
  top: 5%;
  left: 3px;
  opacity: 0.3;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 0.25rem;
  gap: 0.25rem;
}
.short-belt-vertical {
  background-color: #fff;
  height: 4%;
  width: 4px;
  border-radius: 2px;
}
.long-belt-vertical {
  background-color: #fff;
  height: 90%;
  width: 4px;
  border-radius: 2px;
}
