.container-words {
    width: 100%;
    min-height: 100vh;
    padding: 6rem 0rem 0rem 21rem;
    background-color: var(--background);
    background-image: radial-gradient(var(--border) 2px, var(--background) 2px);
    background-size: 40px 40px;
  }
  .window-words {
    min-height: 10rem;
    width: 80.5rem;
    /* display: flex; */
    background-color: var(--secondBackground);
    /* -webkit-box-shadow: inset 0px 0px 24px 0px var(--background);
    -moz-box-shadow: inset 0px 0px 24px 0px var(--background);
    box-shadow: inset 0px 0px 24px 0px var(--background); */
    color: var(--headline);
    /* flex-direction: row;
    gap: 2rem; */
    padding: 2rem;
    border: 2px solid var(--border);
  }