.container-sidebar {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 5rem;
  background-color: var(--secondBackground);
  transition: width 400ms, background-color 400ms;
  padding: 2rem 0rem 0rem 0rem;
  overflow: hidden;

  color: var(--headline);
  border-right: 1px solid var(--border);
}

.container-sidebar:hover {
  width: 20rem;
  background-color: var(--background);
}

.sidebar-title {
  margin: 1rem;
  font-size: 50px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.sidebar-initial {
  display: inline-block;
}

.sidebar-full {
  display: inline-block;
  opacity: 0;
  max-width: 0;
  transition: opacity 400ms, max-width 400ms;
  overflow: hidden;
}

.container-sidebar:hover .sidebar-full {
  opacity: 1;
  max-width: 100%; /* Adjust this value to fit the actual width of the text */
}
