.window-reset {
    padding: 5rem;
    height: 40rem;
    width: 40rem;
    background-color: var(--secondBackground);
    -webkit-box-shadow: inset 0px 0px 24px 0px var(--background);
    -moz-box-shadow: inset 0px 0px 24px 0px var(--background);
    box-shadow: inset 0px 0px 24px 0px var(--background);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .custom-input-reset {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin-top: 1rem;
  }