.draggable {
    position: absolute;
    font-size: 50px;
    background-color: var(--secondBackground);
    padding: 1rem 1rem 0.5rem 1rem;
    border: 3px solid var(--border);
    color: var(--headline);
    border-radius: 20px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczyste tło */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .report-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  .report-form div {
    margin-bottom: 10px;
  }
  
  .report-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .report-form input,
  .report-form select,
  .report-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .report-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .report-form button:hover {
    background-color: #0056b3;
  }