.pageNumbers-settings {
  position: absolute;
  display: flex;
  margin: 10px;
  z-index: 1;
}
.tab-settings {
  padding: 0.25rem;
  cursor: pointer;
}
.tab-settings-active {
  padding: 0.25rem;
  cursor: pointer;
  color: var(--tertiary);
}
.container-settings1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(var(--background-rgba), 1) 0%,
    rgba(var(--border-rgba), 1) 100%
  );
  font-weight: 600;
  color: var(--paragraph);
}

.window-settings {
  background-color: var(--secondBackground);
  display: flex;
  border: 2px solid var(--border);
  position: relative;
  z-index: 2;
}

.settings-left {
  display: flex;
  flex-direction: column;
}

.settings-right {
  display: flex;
}

.explanation {
  height: 100%;
  width: 100%;
  border: solid 2px var(--border);
  color: var(--headline);
}

.switches {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: solid 1px var(--border);
}

.switch-text {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  max-width: 50%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.slider.round:before {
  border-radius: 50%;
}

.hide-span-sett {
  display: none;
}

.container-language {
  border-bottom: solid 1px var(--border);
  display: flex;
}

.flags {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.flags img {
  border: solid 2px var(--border);
  border-radius: 7px;
}

.flags img:hover {
  scale: 0.95;
}

.dailyGoal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
}

.dailyGoal input {
  border: solid 2px var(--border);
  font-size: 15px;
  padding: 0.3rem;
  background-color: var(--background);
  color: var(--paragraph, #00214d);
}

.container-resets {
  display: flex;
  border-bottom: solid 1px var(--border);
}

.button-container-save {
  display: flex;
  justify-content: right;
}

.activated_lang {
  outline: 2px double var(--highlight);
}
.onMouse:hover {
  cursor: pointer;
  background-color: var(--border);
}
.resets-buttons-bottom{
  display: flex;
  width: 100%;
  justify-content: right;
  padding-right: 0.75rem;
}
@media (max-width: 480px) {
  .container-settings1 {
    padding: 5.25rem 0.25rem 0.25rem 0.25rem;
    font-size: 15px;
  }
  .window-settings {
    height: 100%;
    width: 100%;
    max-width: 30rem;
    max-height: 60rem;
    padding: 1rem;
    -webkit-box-shadow: inset 0px 0px 12px 0px var(--background);
    -moz-box-shadow: inset 0px 0px 12px 0px var(--background);
    box-shadow: inset 0px 0px 12px 0px var(--background);
    flex-direction: column;
  }
  .pageNumbers-settings {
    bottom: 0px;
    right: 0%;
    font-size: 20px;
    font-weight: 900;
  }
  .settings-right {
    justify-content: center;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
  .explanation {
    min-height: 3rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
  .switch {
    width: 40px;
    height: 20px;
  }
  .switch-container {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
  .slider:before {
    height: 13px;
    width: 13px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }
  .slider.round {
    border-radius: 30px;
  }
  .container-language {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .flags img {
    height: 2rem;
  }
  .dailyGoal {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    gap: 0.3rem;
  }
  .dailyGoal input {
    width: 50%;
  }
  .container-resets {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
  .resets-buttons button {
    width: 9rem;
    height: 3rem;
  }
  .button-container-save {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
  .resets-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .resets-buttons-bottom{
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .container-settings1 {
    padding: 5.25rem 0.25rem 0.25rem 0.25rem;
    font-size: 20px;
  }
  .window-settings {
    height: 100%;
    width: 100%;
    max-width: 30rem;
    max-height: 55rem;
    padding: 2rem;
    -webkit-box-shadow: inset 0px 0px 12px 0px var(--background);
    -moz-box-shadow: inset 0px 0px 12px 0px var(--background);
    box-shadow: inset 0px 0px 12px 0px var(--background);
    flex-direction: column;
  }
  .pageNumbers-settings {
    top: 0px;
    right: 0px;
  }
  .settings-right {
    justify-content: center;
    padding: 1rem;
  }
  .explanation {
    min-height: 3rem;
    padding: 1rem;
  }
  .switch {
    width: 60px;
    height: 34px;
  }
  .switch-container {
    padding: 1rem 0.75rem 1rem 0.75rem;
  }
  .slider:before {
    height: 26px;
    width: 26px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 30px;
  }
  .container-language {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .flags img {
    height: 2.5rem;
  }
  .dailyGoal {
    padding: 1rem 0.75rem 1rem 0.75rem;
    gap: 0.3rem;
  }
  .dailyGoal input {
    width: 50%;
    font-weight: 700;
  }
  .container-resets {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0.75rem 1rem 0.75rem;
  }
  .resets-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .resets-buttons button {
    width: 9rem;
    height: 3.5rem;
  }
  .resets-buttons-bottom{
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .button-container-save {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
}

@media (min-width: 769px) and (max-width: 1450px) {
  .container-settings1 {
    padding: 5.25rem 0.25rem 0.25rem 0.25rem;
    font-size: 20px;
  }
  .window-settings {
    height: 100%;
    width: 100%;
    max-width: 40rem;
    max-height: 55rem;
    padding: 3rem;
    -webkit-box-shadow: inset 0px 0px 12px 0px var(--background);
    -moz-box-shadow: inset 0px 0px 12px 0px var(--background);
    box-shadow: inset 0px 0px 12px 0px var(--background);
    flex-direction: column;
  }
  .pageNumbers-settings {
    top: 0px;
    right: 0px;
  }
  .settings-right {
    justify-content: center;
    padding: 1rem;
  }
  .explanation {
    min-height: 3rem;
    padding: 1rem;
  }
  .switch {
    width: 60px;
    height: 34px;
  }
  .switch-container {
    padding: 1rem 0.75rem 1rem 0.75rem;
  }
  .slider:before {
    height: 26px;
    width: 26px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 30px;
  }
  .container-language {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .flags img {
    height: 2.5rem;
  }
  .dailyGoal {
    padding: 1rem 0.75rem 1rem 0.75rem;
    gap: 0.3rem;
  }
  .dailyGoal input {
    width: 50%;
    font-weight: 700;
  }
  .container-resets {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0.75rem 1rem 0.75rem;
  }
  .resets-buttons button {
    width: 9rem;
    height: 3.5rem;
  }
  .button-container-save {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  }
  .resets-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .resets-buttons-bottom{
    display: flex;
    width: 100%;
    flex-direction: row;
  }
}

@media (min-width: 1450px) {
  .container-settings1 {
    font-size: 20px;
  }
  .window-settings {
    min-height: 10rem;
    width: 80.5rem;
    -webkit-box-shadow: inset 0px 0px 24px 0px var(--background);
    -moz-box-shadow: inset 0px 0px 24px 0px var(--background);
    box-shadow: inset 0px 0px 24px 0px var(--background);
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
  }
  .pageNumbers-settings {
    bottom: 0px;
    left: 0%;
    scale: 120%;
    padding-left: 1rem;
  }
  .settings-left {
    width: 50%;
    height: auto;
    min-height: 40rem;
  }
  .settings-right {
    flex-direction: column;
    width: 50%;
    height: auto;
  }
  .explanation {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .switch {
    width: 60px;
    height: 34px;
  }
  .switch-container {
    min-width: 10rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .slider:before {
    height: 26px;
    width: 26px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .onMouse:hover {
    cursor: pointer;
    background-color: var(--border);
  }
  .dailyGoal {
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  }
  .container-resets {
    flex-direction: column;
    justify-content: space-around;
    height: 9rem;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    gap: 0.4rem;
    text-transform: capitalize;
  }
  .container-resets button {
    height: 3.5rem;
    width: 9rem;
    font-size: 15px;
  }
  .resets-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: left;
  }
  ul.reset-list {
    list-style-type: none;
    padding: 0;
  }
  .container-language {
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    height: 8rem;
  }
  .flags img {
    height: 2.5rem;
  }
}
