.container-settings {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0rem 0rem 21rem;
}
.window-settings {
  min-height: 10rem;
  width: 80rem;
  display: flex;
  background-color: var(--background);
  color: var(--headline);
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  border: 2px solid var(--border);
}
.settings-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;

}
.settings-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
}
.explanation{
  height: 100%;
  width: 100%;
  border: solid 2px var(--border);
  padding: 1rem;

  text-transform: uppercase;
  font-weight: 700;
  color: var(--headline);
}
.switches {
  width: 100%;
  /* margin-bottom: 1rem; */
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 10rem;
  border-bottom: solid 1px var(--border);
  padding: 0.5rem;

}
.switch-text {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.button-container-save{
  display: flex;
  justify-content: right;
}
.hide-span-sett{
  display: none;
}

.onMouse:hover{
  cursor: pointer;
  background-color: var(--border);
}
.dailyGoal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 0.5rem;
  text-transform: capitalize;
}
.dailyGoal input{
  border: none;
  font-size: 15px;
  padding: 0.3rem;
  background-color: var(--background);
  color: var(--paragraph, #00214d);
  border: solid 1px var(--border);
}
.container-resets{
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 0.5rem;
  gap: 0.4rem;
  text-transform: capitalize;
  border-bottom: solid 1px var(--border);
}
.container-resets button{
  height: 3.5rem;
  width: 9rem;
  font-size: 15px;
}
.resets-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul.reset-list {
  list-style-type: none; 
  padding: 0;
}
.container-language{
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-bottom: solid 1px var(--border);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.flags{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.flags img{
  height: 2.5rem;
  border: solid 1px var(--border);
  border-radius: 7px;
}
.flags img:hover{
  scale: 0.95;
}
.activated_lang{
  outline: 2px double var(--highlight);
}