.container-home {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--f2f4f6);
  background-image: radial-gradient(var(--border) 2px, var(--background) 2px);
  background-size: 40px 40px;

  background: linear-gradient(
    180deg,
    rgba(var(--background-rgba), 1) 0%,
    rgba(var(--border-rgba), 1) 100%
  );
}
.hint {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: 100%;
  color: var(--secondary);
  font-weight: 700;
}

.box {
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease-in-out;
}

.box:active {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.word-count {
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  color: var(--headline);
}

.box img {
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.flashcard-description,
.window-flashcard {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: var(--headline);
}

.window-flashcard {
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 25px;
  background-color: var(--secondBackground);
}
.hidden-message{
  text-align: center;
}
.flashcard-description {
  text-transform: uppercase;
  max-width: 100%;
  text-align: justify;
}

.button-container {
  align-items: center;
  justify-content: center;
}

.flashcard-input {
  border: 0;
  color: var(--paragraph);
  text-align: center;
}

.flashcard-input:focus {
  outline: 0;
  color: var(--paragraph);
}

.notcorrect {
  background-color: var(--secondary);
}

.wrong-answer {
  justify-content: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.not-visible {
  display: none;
}

.learning {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  width: 90%;
  padding: 1rem;
}

.label-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-container label {
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}

.valuesuser-flashcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.not-visible {
  visibility: hidden;
}

.not-display {
  display: none;
}

.flashcard-input-normal {
  max-width: 100%;
  box-sizing: border-box;
}
.flashcard-input-learning {
  width: clamp(5ch, calc(1ch * var(--wordLength)), 50ch);
  max-width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 480px) {
  .container-home {
    flex-direction: column;
    height: 100%;
    padding: 6rem 1rem 1rem;
  }
  .home-right {
    display: none;
  }
  .home-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 20rem;
    max-height: 30rem;
  }
  .boxes-top,
  .container-boxes {
    display: flex;
    flex-direction: row;
  }
  .container-boxes {
    height: 50%;
  }
  .boxes-top {
    flex-wrap: wrap;
  }
  .smallscreenbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 33%;
  }
  .smallscreenbutton button {
    height: 2.5rem;
    width: 4.4rem;
    font-size: 10px;
    padding: 0;
  }
  .boxes-bot {
    display: none;
  }
  .box {
    flex: 0 0 33%;
    align-items: center;
  }
  .box img {
    height: 5.5rem;
    width: 4.5rem;
  }
  .active {
    border-bottom: 0.2rem solid;
    border-color: var(--highlight);
  }
  .notactive {
    border-bottom: 0.2rem solid;
    border-color: transparent;
  }
  .container-flashcard,
  .form-flashcard {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-flashcard {
    height: 50%;
    justify-content: space-between;
    align-items: center;
  }
  .form-flashcard {
    height: 70%;
  }
  .window-flashcard {
    width: 100%;
    height: 50%;
  }
  .flashcard-description {
    font-size: 10px;
    height: 25%;
  }
  .top-flashcard {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .button-container button {
    width: 40%;
    padding: 0;
    height: 3rem;
  }
  .flashcard-input {
    width: clamp(5ch, calc(1ch * var(--wordLength)), 50ch);
    background: repeating-linear-gradient(
        90deg,
        var(--headline),
        var(--headline) 1ch
      )
      0 100%/100% 2px no-repeat;
    font-size: clamp(1rem, 5vw, 3rem);
  }
  .correct,
  .notcorrect {
    background-color: var(--highlight);
    border-radius: 1rem;
  }
  .wrong-answer {
    display: none;
  }
  .learning {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  .label-container label {
    font-size: clamp(1rem, 5vw, 3rem);
    color: rgba(0, 0, 0, 0.2);
    bottom: 2px;
    padding-left: 3px;
  }
  .label-container input {
    text-align: left;
    padding-left: 0.2rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .container-home {
    flex-direction: column;
    height: 100%;
    padding: 6rem 1rem 1rem;
  }
  .home-right {
    display: none;
  }
  .home-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 30rem;
    max-height: 40rem;
  }
  .boxes-top,
  .container-boxes {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .container-boxes {
    height: 50%;
  }
  .boxes-top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .smallscreenbutton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 33.33%;
  }
  .smallscreenbutton button {
    height: 3rem;
    width: 90%;
    font-size: 15px;
    padding: 0;
  }
  .boxes-bot {
    display: none;
  }
  .box {
    flex: 0 0 33.33%;
    align-items: center;
  }
  .box img {
    height: 6.5rem;
    width: 5.5rem;
  }
  .active,
  .notactive {
    border-bottom: 0.2rem solid var(--highlight);
  }
  .notactive {
    border-color: transparent;
  }
  .container-flashcard,
  .form-flashcard {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-flashcard {
    height: 50%;
    justify-content: space-between;
    align-items: center;
  }
  .form-flashcard {
    height: 70%;
  }
  .window-flashcard {
    width: 100%;
    height: 50%;
  }
  .flashcard-description {
    font-size: 15px;
    height: 25%;
  }
  .top-flashcard {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .button-container button {
    width: 40%;
    padding: 0;
    height: 3.5rem;
  }
  .flashcard-input {
    width: clamp(5ch, calc(1ch * var(--wordLength)), 50ch);
    background: repeating-linear-gradient(
        90deg,
        var(--headline),
        var(--headline) 1ch
      )
      0 100%/100% 2px no-repeat;
    font-size: clamp(1rem, 5vw, 3rem);
  }
  .correct,
  .notcorrect {
    background-color: var(--highlight);
    border-radius: 1rem;
  }
  .wrong-answer {
    display: none;
  }
  .learning {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
  }
  .label-container label {
    font-size: clamp(1rem, 5vw, 3rem);
    color: rgba(0, 0, 0, 0.2);
    bottom: 2px;
    padding-left: 3px;
  }
  .label-container input {
    text-align: left;
    padding-left: 0.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1450px) {
  .container-home {
    flex-direction: row;
    height: 100%;
    padding: 6rem 1rem 1rem;
    gap: 5rem;
  }
  .home-left,
  .home-right {
    display: flex;
    flex-direction: column;
  }
  .home-right {
    flex-direction: row;
    gap: 5rem;
    height: 60%;
  }
  .container-flashcard {
    width: 50rem;
    height: 25rem;
  }
  .window-flashcard {
    height: 14rem;
    width: 35rem;
    /* background-color: var(--secondBackground); */
    border-radius: 2rem 2rem 2rem 2rem;
    border: solid 3px var(--headline);
    gap: 2rem;
  }
  .flashcard-description {
    margin-top: 1rem;
    font-size: 20px;
  }
  .button-container,
  .top-flashcard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .button-container {
    flex-direction: column;
    height: 14rem;
  }
  .flashcard-input {
    width: calc(1ch * var(--wordLength));
    background: repeating-linear-gradient(
        90deg,
        var(--headline),
        var(--headline) 1ch
      )
      0 100%/100% 5px no-repeat;
    font-size: 4ch;
  }
  .correct {
    background-color: var(--highlight);
  }
  .wrong-answer {
    display: flex;
    margin-top: 1rem;
    max-width: 35rem;
    margin-bottom: 1rem;
  }
  .learning {
    height: 90%;
    width: 90%;
  }
  .label-container label {
    font-size: 4ch;
    color: rgba(0, 0, 0, 0.1);
    padding-left: 0.3rem;
  }
  .label-container input {
    text-align: left;
    padding-left: 0.3rem;
  }
  .container-boxes {
    display: flex;
    flex-direction: column;
  }
  .smallscreenbutton {
    display: none;
  }
  .boxes-bot,
  .boxes-top {
    display: flex;
    flex-direction: row;
  }
  .boxes-bot {
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }
  .word-count {
    margin: 2rem 0 1rem;
  }
  .box img {
    height: 11rem;
    width: 10rem;
  }
  .active,
  .notactive {
    border-bottom: 0.5rem solid var(--highlight);
  }
  .notactive {
    border-color: transparent;
  }
}

@media (min-width: 1450px) {
  .container-home {
    flex-direction: row;
    height: 100vh;
    gap: 6rem;
  }
  .home-left,
  .home-right {
    display: flex;
    flex-direction: column;
  }
  .home-right {
    flex-direction: row;
    gap: 5rem;
    height: 60%;
  }
  .container-boxes {
    display: flex;
    flex-direction: column;
  }
  .smallscreenbutton {
    display: none;
  }
  .boxes-bot,
  .boxes-top {
    display: flex;
    flex-direction: row;
  }
  .boxes-bot {
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }
  .word-count {
    margin: 2rem 0 1rem;
  }
  .box img {
    height: 11rem;
    width: 10rem;
  }
  .active,
  .notactive {
    border-bottom: 0.5rem solid var(--highlight);
  }
  .notactive {
    border-color: transparent;
  }
  .container-flashcard {
    width: 50rem;
    height: 25rem;
  }
  .window-flashcard {
    height: 14rem;
    width: 35rem;
    /* background-color: var(--secondBackground); */
    border-radius: 2rem 2rem 2rem 2rem;
    border: solid 3px var(--headline);
    gap: 2rem;
  }
  .flashcard-description {
    margin-top: 1rem;
    font-size: 20px;
  }
  .button-container,
  .top-flashcard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .button-container {
    flex-direction: column;
    height: 14rem;
  }
  .flashcard-input {
    width: calc(1ch * var(--wordLength));
    background: repeating-linear-gradient(
        90deg,
        var(--headline),
        var(--headline) 1ch
      )
      0 100%/100% 5px no-repeat;
    font-size: 4ch;
    max-width: 100%;
    box-sizing: border-box;
  }
  .correct {
    background-color: var(--highlight);
  }
  .wrong-answer {
    display: flex;
    margin-top: 1rem;
    max-width: 35rem;
    margin-bottom: 1rem;
  }
  .learning {
    height: 90%;
    width: 90%;
  }
  .label-container label {
    font-size: 4ch;
    color: rgba(0, 0, 0, 0.1);
    padding-left: 0.3rem;
  }
  .label-container input {
    text-align: left;
    padding-left: 0.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1060px) {
  .home-right {
    display: none;
  }
}
