.container-about {
  padding-left: 5rem;
  color: var(--headline);
}

.section-fullwidth {
  width: 100%;
  padding: 2rem 0;
  color: var(--headline);
  margin-bottom: 3rem;
  min-height: 40rem;
}

.window-about {
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.login-about {
  display: flex;
  flex-direction: row;
  height: 5rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-right: 1rem;
  gap: 1rem;
  text-transform: uppercase;
  justify-content: right;
  font-weight: 800;
}
.login-about span:hover {
  color: var(--highlight);
  cursor: pointer;
}
.section-title-about {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  align-items: center;
}
.leftsection-about {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  text-align: justify;
}
.title-about {
  font-size: 90px;
  font-weight: 900;
}
.rightsection-about {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
}
.rightsection-about img {
  max-width: 100%;
}
.content-about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.text-about {
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  padding-top: 1rem;
  /* padding-left: 2rem; */
  padding-right: 4rem;
}
.second-section {
  background-color: var(--secondBackground);
}

.flashcard-about {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: right;
  width: 50%;
}
.flashcard1-about {
  position: absolute;
  max-width: 100%;
  top: -60%;
  left: 10%;
  transform: rotate(-50deg);
  z-index: 10;
  height: 30rem;
}
.flashcard2-about {
  position: absolute;
  max-width: 100%;
  top: 40%;
  transform: rotate(-90deg);
  z-index: 11;
  height: 30rem;
}
.box1-about {
  position: absolute;
  height: 10rem;
  max-width: 100%;
  top: 0%;
  left: 0%;
}
.box2-about {
  position: absolute;
  height: 20rem;
  max-width: 100%;
  top: 0%;
  transform: scaleX(-1);
}
.box3-about {
  position: absolute;
  height: 15rem;
  max-width: 100%;
  top: 110%;
  left: 0%;
  transform: rotate(20deg);
}
.section-footer-about {
  width: 100%;
  height: 8rem;
  padding: 2rem 0;
  color: var(--headline);
  margin-bottom: 3rem;
  border-top: solid 10px var(--font); 
  background-color: var(--secondBackground);
}
/* .footer-about{
  border-top: solid 10px var(--font); 
} */
/* Kontener centrowany o max. szerokości 65rem */
