.vocabulary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(var(--background-rgba), 1) 0%,
    rgba(var(--border-rgba), 1) 100%
  );
}

.vocabulary-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 3rem;
  border-right: 10px solid var(--border);
  border-left: 10px solid var(--border);
}

.vocabulary-popup {
  display: flex;
  flex-direction: column;
  color: var(--headline);
  gap: 1rem;
}

.vocabulary-popup h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

.vocabulary-popup p {
  text-transform: uppercase;
  text-align: center;
}

.vocabulary-btn-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.display-voca {
  font-weight: 900;
  color: var(--headline);
  border: solid 10px var(--border);
  transition: padding 1s, border-color 1s;
}

.display-voca:nth-of-type(1) {
  border-left: none;
  cursor: pointer;
}

.display-voca:nth-of-type(2) {
  border-right: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .vocabulary-container {
    color: white;
    height: 100%;
    padding-top: 5rem;
  }
  .vocabulary-window {
    height: 100%;
    width: 100%;
  }
  .vocabulary-popup p {
    max-width: 25rem;
  }
  .display-voca {
    font-size: 5rem;
  }
  .display-voca:nth-of-type(1) {
    padding: 0.5rem;
  }
  .display-voca:nth-of-type(2) {
    padding: 0.5rem;
  }
  .display-voca:nth-of-type(1):active {
    border-color: var(--tertiary);
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .vocabulary-container {
    color: white;
    height: 100%;
    padding-top: 5rem;
  }
  .vocabulary-window {
    height: 100%;
    width: 100%;
  }
  .vocabulary-popup p {
    max-width: 25rem;
    padding: 0.25rem;
  }
  .display-voca {
    font-size: 5rem;
  }
  .display-voca:nth-of-type(1) {
    padding: 0.5rem;
  }
  .display-voca:nth-of-type(2) {
    padding: 0.5rem;
  }
  .display-voca:nth-of-type(1):active {
    border-color: var(--tertiary);
  }
}

@media (min-width: 768px) and (max-width: 1450px) {
  .vocabulary-container {
    min-height: 100vh;
    position: relative;
  }
  .vocabulary-window {
    height: 100vh;
    width: 100%;
    max-width: 70rem;
    color: black;
  }
  .display-voca {
    font-size: 80px;
  }
  .display-voca:nth-of-type(1) {
    padding: 2rem 2rem 2rem 13rem;
  }
  .display-voca:nth-of-type(2) {
    padding: 2rem 13rem 2rem 2rem;
  }
  .display-voca:nth-of-type(1):hover {
    padding: 2rem 2rem 2rem 13rem;
    border-color: var(--tertiary);
  }
}

@media (min-width: 1450px) {
  .vocabulary-container {
    min-height: 100vh;
    position: relative;
  }
  .vocabulary-window {
    height: 100vh;
    width: 70rem;
    color: black;
  }
  .display-voca {
    font-size: 80px;
  }
  .display-voca:nth-of-type(1) {
    padding: 2rem 2rem 2rem 15rem;
  }
  .display-voca:nth-of-type(2) {
    padding: 2rem 15rem 2rem 2rem;
  }
  .display-voca:nth-of-type(1):hover {
    padding: 2rem 2rem 2rem 20rem;
    border-color: var(--tertiary);
  }
}
