.vocabulary-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: linear-gradient(
      180deg,
      rgba(var(--background-rgba), 1) 0%,
      rgba(var(--border-rgba), 1) 100%
    );
  
    position: relative;
  }

.vocabulary-window {
    height: 100vh;
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    gap: 3rem;
  
    border-right: 10px solid var(--border);
    border-left: 10px solid var(--border);
}
.vocabulary-popup{
    display: flex;
    flex-direction: column;
    color: var(--headline);
    gap: 1rem;
}
.vocabulary-popup h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}
.vocabulary-popup p{
    text-transform: uppercase;
    text-align: center;
}
.vocabulary-btn-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
.display-voca {
    font-size: 80px;
    font-weight: 900;
    color: var(--headline);
    border: solid 10px var(--border);
    transition: padding 1s, border-color 1s;
}

.display-voca:nth-of-type(1) {
    border-left: none;
    padding: 2rem 2rem 2rem 15rem;
    cursor: pointer;
}
.display-voca:nth-of-type(2) {
    border-right: none;
    padding: 2rem 15rem 2rem 2rem;
    cursor: pointer;
}
.display-voca:nth-of-type(1):hover {
    padding: 2rem 2rem 2rem 20rem; /* Zmniejsz padding po lewej */
    border-color: var(--tertiary); /* Zmiana koloru obramowania na żółty */
}
.display-voca:nth-of-type(2):hover {
    padding: 2rem 20rem 2rem 2rem; /* Zmniejsz padding po lewej */
    border-color: var(--tertiary); /* Zmiana koloru obramowania na żółty */
}
.return-btn-voca{
    position: absolute;
    color: var(--headline);
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.return-btn-voca div{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
}
.return-btn-voca:hover{
    cursor: pointer;
}